<section class="section">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h2 class="title is-2">Log in</h2>
      <form ng-submit="handleLogin()">


        <div class="field">
          <label class="label">Email:</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="email" type="email" ng-model="user.email" placeholder="Your email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
          </div>
        </div>
        <div class="field">
          <label class="label">Password:</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="password" type="password" ng-model="user.password" placeholder="Password" value="">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-center">Log in</button>
          </div>
        </div>
        <div class="is-center">
          <hr/>
          <p>Don't have an account?</p>
          <p><a ui-sref= "register">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
