<h1 class="is-size-1">{{ user.username }}'s Profile</h1>
<figure class="image is-128x128">
  <img class="is-rounded" src="{{ user.image }}" alt="Profile Picture">
</figure>
<h2>Events Created</h2>
<div class="columns is-multiline">
  <div ng-repeat="event in user.eventsCreated" class="column is-4">
    <!-- <figure class="image">
      <a ui-sref="eventsShow({ id: event._id })"><img src="{{ event.image }}" alt="Event Image"></a>
    </figure> -->
    <p>{{ event.title }} at {{ event.venue }}</p>
    <figure class="image is-1by1">
      <img class="eventImage" src="{{ event.image }}" alt="Event Image">
    </figure>
  </div>
</div>

<h2>Events Attending</h2>
<div class="colums is-multiline">
  <div ng-repeat="event in user.eventsAttending" class="columns is-4">
    <p>{{ event.title }} at {{ event.venue }}</p>
    <p>{{ event.date }}</p>
  </div>
</div>
