<section>
  <h1 class="title is-1">All the upcoming events</h1>
  <form class="columns is-8" ng-submit="handleFilterSubmit()">
    <input type="text" class="input column is-6" ng-model="searchTerm">
    <button class="button column is-1">Search</button>
  </form>
  <hr>
  <div class="columns is-multiline">
    <div ng-repeat="event in filteredEvents | orderBy:'date'" class="column is-4">
      <a ui-sref="eventsShow({ id: event._id })">
        <div class="card">
          <div class="card-header">
            <p class="title is-4">{{ event.title }}</p>
          </div>
          <p><strong>{{ event.artist }}</strong> at {{ event.venue }}</p>
          <p>{{ event.date | date:'dd/MM/yy' }}</p>
          <div class="card-image">
            <figure class="image">
              <img ng-src="{{ event.image }}" alt="{{ event.title }}">
            </figure>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
