<section class="section">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h1 class="title is-1">Create an event</h1>

      <form ng-submit="handleSubmit()">

        <div class="field">
          <label class="label" for="title">Event Title:</label>
          <div class="control">
            <input class="input" name="event.title" ng-model="event.title">
          </div>
          <div class="error">{{ errors.title.message }}</div>
        </div>

      <div class="field">
        <label class="label" for="event.artist">Artist:</label>
        <div class="control">
          <input class="input" name="event.artist" ng-model="event.artist">
        </div>
        <div class="error">{{ errors.artist.message }}</div>
      </div>

      <div class="field">
        <label class="label" for="event.venue">Name of venue:</label>
        <div class="control">
          <input class="input" name="event.venue" ng-model="event.venue">
        </div>
        <div class="error">{{ errors.venue.message }}</div>
      </div>

      <div class="field">
        <label class="label" for="event.address">Address:</label>
        <div class="control">
          <!-- <input ng-model="searchTerm" ng-change="findPlaces()"> -->
          <input class="input" name="event.address" ng-model="searchTerm" ng-change="findPlaces()">
        </div>
        <div class="result-container">
          <div class="search-results">
            <div class="result" ng-repeat="place in searchResults" ng-click="goTo(place)">
              <p>{{ place.display_name }}</p>
            </div>
          </div>
        </div>
        <div class="error">{{ errors.address.message }}</div>
      </div>

      <div class="field">
        <label class="label" for="event.image">Image URL:</label>
        <div class="control">
          <input class="input" name="event.image" ng-model="event.image">
        </div>
        <div class="error">{{ errors.image.message }}</div>
      </div>

      <div class="field">
        <label class="label" for="event.date">Date:</label>
        <div class="control">
          <input class="date" type="date" name="event.date" ng-model="event.date">
        </div>
        <div class="error">{{ errors.date.message }}</div>
      </div>

      <div class="field">
        <label class="label" for="event.description">Description:</label>
        <div class="control">
          <textarea class="textarea" name="event.description" ng-model="event.description"></textarea>
        </div>
        <div class="error">{{ errors.description.message }}</div>
      </div>

      <div class="control">
        <button class="button">Create</button>
      </div>
      </form>
    </div>
  </div>
</section>
