
<h1 class="title is-1">{{ event.title }}</h1>
<h2 class="subtitle is-2">{{ event.artist }}</h2>
<h2 class="subtitle is-2">{{ event.venue }}</h2>
<h2 class="subtitle is-2">{{ event.date }}</h2>
<p>Created by: {{ event.createdBy.username }}</p>
<img src="{{ event }}" alt="{{ event.title }}">
<p>{{ event.description }}</p>
<p>{{ event.usersAttending }}</p>
<div class="buttons" ng-if="event.createdBy._id === userId">
  <button class="button is-info" ui-sref="eventesEdit({ id: event._id })">Edit</button>
  <button class="button is-danger" ng-click="handleDelete()">Delete</button>
</div>
<div class="comments">
  <div ng-repeat="comment in event.comments">
    <span style="font-weight: bold;">{{ comment.user.username }}</span>
    <span>{{ comment.text }}</span>
    <button ng-if="comment.user._id === userId" class="delete-button" ng-click="deleteComment(comment)">x</button>
  </div>
  <form ng-submit="createComment()">
    <input type="text" ng-model="comment.text">
    <button class="button">💬</button>
  </form>
</div>
