* {
  font-family: 'Raleway', sans-serif;
}

.container {
  margin-top: 2%;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.pinimg.com/564x/b8/9d/60/b89d60a6bf7aca423e4db40d01f74712.jpg);
  background-size: cover;
  h1,a {
    color: #4A4A4A;
    font-size: 40px;
  }
  a:hover {
    color: black;
  }
}
.comments {
  .username {
    font-weight: bold
  }
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #424242;
  .navbar-item img {
    max-height: 2.35rem;
  }
  a {
    font-size: 14px;
    color: white;
    opacity: 1;
  }
  a:hover {
    color: white;
    background-color: #424242;
    color: #E8C547;
  }
}

.footer {
  margin-top: 15px;
  background-color: #424242;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    color: white;
  }
}

.map {
  height: 200px;
  z-index: 0;
}

.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .input {
    margin-right: 5px;
  }
}

img {
  object-fit: cover;
}

.attendingEventContainer:hover {
  color: black;
  a {
    color: black
  }
}

.card:hover {
  .title {
    color: black;
  }
}

.card {
  .card-info {
    padding: 10px;
    text-align: center;
  }
}

.gighub-logo-container {
 display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100%;
}
